<form action= "/course/add" method="POST">
<p>
    <label>CourseName</label>
    <input value="" name="courseName" /><br>
    <label>CourseId</label>
    <input value="" name="courseId" /><br>
    <label>CourseDueration</label>
    <input value="" name="courseDueration" /><br>
    <label>CourseFee</label>
    <input value="" name="coursefee" /><br>
    <button type="submit">Add Course</button>
</p>
</form>